* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#topBanner {
    background-color: darkgrey;
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    height: 170px;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}

.bannerText {
    margin-bottom: 10px;
}

nav {
    display: flex;
    margin-top: 171px;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 100%;
    border-bottom: solid 1px lightgray;
}

.menuItem {
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.navigationMobile {
    margin-top: 171px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    border-bottom: solid 1px lightgray;

}
  
  /* Style for the nav bar elements */
.navigationMobile a {
    display: flex;
    color: black;
    font-size: 17px;
    margin-right: 10px;
    margin-top: 5px;
    text-decoration: none;
}
  
  /* Change the color of links on hover */
.navigationMobile a:hover {
    color: grey;
}

/* For the About Container */
.aboutWithPictureContainer {
  display: flex;
  /*margin-top: 40px;*/
  align-items: center;
  justify-content: center;
  padding: 10%;
}

.aboutWithPictureContainer img {
  height: 200px;
  border-radius: 50%;
  margin-right: 50px;
}

.aboutWithPictureContainer .aboutShortText {
  font-size: 25px;
}

/* This is the paragraph with more detailed info */

.aboutParagraph {
  font-size: 18px;
  margin-top: -50px;
  padding: 5% 20% 20% 20%;
}

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {

    .navigationMobile .menuIcon {
        display:flex;
        height: 15px;
        margin-top: 5px;

    }

    .aboutWithPictureContainer img {
      height: 70px;
      border-radius: 50%;
      margin-right: 25px;
    }
    
    .aboutWithPictureContainer .aboutText {
      font-size: 15px;
    }

  }